.cards {
    border: 1px solid blue;
}

.card {
    border: 1px solid grey;
    display: inline-block;
    padding: 20px;
		width: 100px;
}

.row {
    display: block;
}

.userSection {
    padding-top: 20px;
}

.teamList {
    padding: 10px;
    height: 100%;
}
.teamList.red {
    border: 1px solid red;
}
.teamList.blue {
    border: 1px solid blue;
}

.teamMember {
    padding: 2px 10px;
}

.joinTeam {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: #DDD;
    color: grey;
    cursor: pointer;
}
.joinTeam:hover {
    background-color: #AAA;
}
